#background {
	x: 0;
	y: 0;
	width: 100%;
	height: 100%;
	gradient-type: radial;

	gradient-x1: 50%;
	gradient-y1: 62%;
	gradient-color1: #002b36;
	gradient-x2: 100%;
	gradient-y2: 100%;
	gradient-color2: #000000;
}

.binary-digit {
	/* fill: #859900; */
	gradient-type: "linear";

	gradient-x1: "0";
	gradient-y1: "0";
	gradient-color1: "#000000";

	gradient-x2: "0";
	gradient-y2: "100%";
	gradient-color2: "#859900";

	y: 0;
	width: 4;
	height: 20;
}

.binary-digit-bottom {
	gradient-color1: "#859900";
	gradient-color2: "#000000";
}

.text {
	text-length: 10;
	x: 50%;
	width: 100%;
	height: 100%;
	font-family: System-Regular;
	font-weight: regular;
	text-anchor: middle;
	font-size: 30;
	fill: #839496;
}
.text-bat {
	text-length: 4;
	font-size: 20;
}
.text-day {
	text-length: 7;
	font-size: 20;
}
.text-day-2 {
	text-length: 7;
	font-size: 20;
}
.text-date {
	fill: #2aa198;
}
.text-time {
	text-length: 8;
	font-family: System-Bold;
	font-size: 80;
	fill: #268bd2;
}
.text-info {
	text-length: 60;
	font-size: 17;
	fill: #2aa198;
}

.image-weather-icon {
	x: 50%-32;
	y: 60%-32;
	width: 63;
	height: 63;
	fill: #cb4b16; /* orange */
}

.text-bat {
	x: 4%;
	y: 32%;
	text-anchor: start;
}
.text-day {
	x: 96%;
	y: 32%;
	text-anchor: end;
}
.text-day-2 {
	x: 96%;
	y: 32%+20;
	text-anchor: end;
}

.text-binary-top {
	y: 18;
}

.text-date {
	y: 20%;
}
.text-time {
	y: 45%;
}

.text-info-mid-left {
	x: 4%;
	y: 55%+10;
	text-anchor: start;
	font-size: 30;
}
.text-info-mid-left-2 {
	x: 5%;
	y: 55%+35;
	text-anchor: start;
}

.text-info-mid-bottom {
	x: 50%;
	y: 60%+40;
}
.text-info-bottom {
	x: 50%;
	y: 100%-50;
	text-anchor: middle;
}

.text-info-mid-right {
	x: 96%;
	y: 55%+10;
	text-anchor: end;
	font-size: 20;
}
.text-info-mid-right-2 {
	x: 96%;
	y: 55%+45;
	text-anchor: end;
	font-size: 20;
	fill: #6c71c4;
}
.text-info-mid-right-3 {
	x: 96%;
	y: 55%+70;
	text-anchor: end;
	font-size: 20;
	fill: #6c71c4;
}

/* Colors */
/*
https://ethanschoonover.com/solarized/
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
 */

/***
 * Weather Icons by Yorlmar Campos
 * https://iconstore.co/icons/rns-weather-icons/
 **/
